@model IEnumerable<LMVirtualGallery.CompositionItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompositionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompositionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompositionMedium)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompositionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompositionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompositionMedium)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
