@model IEnumerable<LMVirtualGallery.CompositionItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="composition-board">
    @foreach(var item in Model)
    {
    <div class="composition-container col-lg-1-md-3 col-sm-6">
        <div class="composition-card ">
            
            <div class="composition-header text-center">

                @Html.DisplayFor(modelItem => item.CompositionName)

            </div>
            <div class="Composition-body">
                <div class="composition-medium text-center">
                    @Html.DisplayFor(modelItem => item.CompositionMedium)
                </div>
                <div class="composition-tools text-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.CompositionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CompositionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CompositionId })
                </div>
            </div>
        </div>
    </div>
    }
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}



</table>
