@model IEnumerable<LMVirtualGallery.ExhibitionItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="exhibition-board">
    @foreach (var item in Model)
    {
        <div class="exhibition-container col-lg-1-md-3 col-sm-6">
            <div class="exhibition-card ">

                <div class="exhibition-header text-center">
                    @Html.DisplayFor(modelItem => item.ExhibitionId) -
                    @Html.DisplayFor(modelItem => item.ExhibitionName)

                </div>
                <div class="exhibition-body">
                    <div class="exhibition-medium text-center">
                        @Html.DisplayFor(modelItem => item.ExhibitionDescription)
                    </div>
                    <div class="exhibition-tools text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.ExhibitionId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ExhibitionId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ExhibitionId })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
    
    <button type="button" class="close" date-dismiss="alert">
        <span>&times;</span>
    </button>
        @TempData["SaveResult"]
    </div>
}
    


</table>
